@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
}

body#pagina {
    background-color: #f6f6f6;;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

form#cadastrar_login {
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    border: 1px solid #e0e0e0;
    position: relative;
    top: 50px; /* Ajuste fino para posicionar um pouco abaixo do centro */
    left: -20px;
}

/* Estilos para os campos de input */
form#cadastrar_login input.form-control {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 165%; /* Campos de input ocupam 100% da largura do formulário */
}

#inputProdutos {
    width: 200%; 
}

form#cadastrar_login input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos para o botão */
form#cadastrar_login input#botao {
    width: auto; /* O botão mantém seu tamanho natural */
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px 20px; /* Definição de padding ajustada para o botão */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

form#cadastrar_login input#botao:hover {
    background-color: #0056b3;
}


/* formatação cadastro usuario*/ 

form#cadastrar {
    position: absolute;
    top: 130px;
    left: 325px;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f9f9f9; 
    padding: 14px 26px;
    border-radius: 10px; /* Bordas suaves */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px;
    border: 1px solid #e0e0e0; 
}

form#cadastrar input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200%;
}

form#cadastrar input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form#cadastrar input#botao {
    background-color: #606060;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    width: 50%;
}

form#cadastrar button:hover {
    background-color: #0056b3;
}

/* formatação do login */
form#login{
    left: 600px;
    position: absolute;
    top: 200px;
}

form#botao1{
    text-align: center;
    top: 40px;
}

form#botao10{
    position: absolute;
    top: 10px;
    
}


/*formatação dos avisos de cadastro */
div#msg-sucesso{
    left: 550px;
    position: absolute;
    top: 350px;
    font-size: 15px;
}

div#msg-sucesso123{
    left: 600px;
    position: absolute;
    top: 220px;
    font-size: 15px;
}
div#msg-123{
    left: 550px;
    position: absolute;
    top: 10px;
    font-size: 15px;
}

div#msg-jacadastrado1 {
    left: 769px;
    position: absolute;
    top: 520px;
    font-size: 15px;
    color: rgb(228 65 65);
}

div#msg-jacadastrado{
    left: 600px;
    position: absolute;
    top: 498px;
    font-size: 15px;
}

div#msg-jacadastrado2 {
    left: 368px;
    position: absolute;
    top: 433px;
    font-size: 15px;
}

div#msg-jacadastrado5 {
    left: 357px;
    position: absolute;
    top: 305px;
    font-size: 15px;
}

div#msg-3 {
    left: 353px;
    position: absolute;
    top: 722px;
    font-size: 15px;
}



div#msg-removido{
    left: 600px;
    position: absolute;
    top: 498px;
    font-size: 15px;
}

div#msg-jatacadastrado1{
    left: 600px;
    position: absolute;
    top: 222px;
    font-size: 15px;
}




.msg-erro{
    position: absolute;
    top: 200px;
    left: 400px;
}

/* Formatação do menu */

nav#menu {
    display: block;
    position: absolute;
    top: 70px;
    left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

nav#menu li {
    border-radius: 8px;
    background-color: #f8f9fa;
    padding: 12px 20px;
    font-size: 18px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav#menu li:hover {
    background-color: #e2e6ea; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #343a40; 
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav#menu a:hover {
    color: #007bff; 
}

/* formtação dos icones */

div#icone1{
    position: absolute;
    top: -35px;
    left: 1300px;
    display: inline-block;
}


div#icone1:hover{
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}
div#icone2{
    position: absolute;
    top: 8px;
    left: 810px;
    display: inline-block;
    font-size: 100%;
}
div#icone2:hover{
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}
div#icone3{
    position: absolute;
    top: 13px;
    left: 930px;
    display: inline-block;
}
div#icone3:hover{
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
}
/*formatação da estrutura de fundo */

div#banerprincipal{
    position: absolute;
    top: 15px;
    left: 65px;
}

.baner{
    position: absolute;
    top: 15px;
    left: 65px;
}

.baner_login {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* formatação da tabela dos usuários */

.tabela{
    position: absolute;
    top: 140px;
    left: 325px;
    text-transform: uppercase;
    border-spacing: 0px;
    border-collapse: separate;
    margin: 0 auto;
    color: #595c62;
    font-size: 0.6em;
    font-family: 'verdana';
    text-align: center;
    width: 150%;
    display: block;

}

#nova_tabela{
    position: absolute;
    top: 250px;
    left: 325px;
    font-size: 100px;
    width: 500%;
}

tr {
    height: 35px;
  }



input#botao{
    background-color: darkgrey;
}







div#nomeusuarios{
    position: absolute;
    top: 25px;
    left: 330px;
}


div#nomevalidade{
    position: absolute;
    top: 25px;
    left: 700px;
}

div#nomerelatorio {
    position: absolute;
    top: 135px;
    left: 329px;
    width: 75%;
}



div#nomeprodutos {
    position: absolute;
    top: 25px;
    left: 330px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2c3e50;
    background-color: #f9f9f9; 
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#nomeprodutoss {
    position: absolute;
    top: 5px;
    left: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #2c3e50;
    padding: 10px 20px;
}

div#botao1{
    color: brown;
}




.botao_sair{
    position: absolute;
    left: 1470px;
    top: 15px;
    font-size: large;
    font-family: Verdana;
    text-decoration: none;
}

.titulo_login{
    position: absolute;
    left: 48%;
    top: 21%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-family: 'Verdana', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.6); 
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); 
    max-width: 80%; 
    text-align: center;
}

#tabela_nova2{
    position: absolute;
    top: 135px;
    left: 325px;
}

#botao_editar{
    background-color: #396acb;
    color:rgb(255, 255, 255);
    border-radius: 8%;
    padding: 8px;
    text-decoration: none;
  
}

#botao_excluir{
    background-color: #cb3943;
    color:rgb(255, 255, 255);
    border-radius: 8%;
    padding: 8px;
    text-decoration: none;
}

#tabela_nova3{
    width: 60%;
  
}

tr#titulo{
    background-color: #ffffff;
    font-weight: bold;
    
}

tr#conteudo{
    background-color: #f6f6f6;
    
}

tr#conteudo:hover{
    background-color: #e2e2e2;
    
}

tr{
    line-height: 30px;
}

input[type="button"] {
    transition: all .3s;
      border: 1px solid #e2e2e2;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 15px;
      
  }

  input[type="button"]:not(.active) {
    background-color:transparent;
  }

  .active {
    background-color: #e2e2e2;
 
  }
  
  input[type="button"]:hover:not(.active) {
    background-color: #ddd;
  }


  .container-totais1 {
    position: absolute;
    top: 120px; 
    left: 330px; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #2c3e50;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.total-custo1, h1.total-venda1 {
    font-size: 20px; 
    font-weight: 700;
    margin: 0.5rem 0; 
    text-align: left;
}


@media (min-width: 1200px) {
    h1.total-custo1, h1.total-venda1 {
        font-size: 24px;
    }
}


.container-totais2 {
    position: absolute;
    top: 25px;
    left: 717px; 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #2c3e50;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1.total-custo2, h1.total-venda2 {
    font-size: 20px; 
    font-weight: 700;
    margin: 0.5rem 0;
    text-align: left;
}


@media (min-width: 1200px) {
    h1.total-custo2, h1.total-venda2 {
        font-size: 20px;
    }
}




















